# macOS
.DS_Store
._*
.cscs-keygen.sh


# Lab data files
*.csv
*.xls
*.xlsx
data/

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/
py3/

# Secrets / environment files
.env

# Superset Docker runtime (not your config)
superset/docker/
