[Unit]
Description=APS Docker Compose update
Wants=network-online.target
After=network-online.target docker.service
Requires=docker.service
RequiresMountsFor=/opt/aps_database/APS_Database
ConditionPathExists=/opt/aps_database/APS_Database/superset/docker-compose.yml

[Service]
Type=oneshot
WorkingDirectory=/opt/aps_database/APS_Database/superset
ExecStart=/opt/aps_database/APS_Database/scripts/aps-docker-update.sh
TimeoutStartSec=2h
Environment=COMPOSE_ANSI=never
