[Unit]
Description=uWSGI instance to serve the APS database
After=network.target

[Service]
User=arodrigues
Group=www-data
WorkingDirectory=/home/arodrigues/APS_Database/APS_Database
Environment="PATH=/opt/aps_database/venv/bin"
ExecStart=/opt/aps_database/venv/bin/uwsgi --ini server.ini

[Install]
WantedBy=multi-user.target
