[Unit]
Description=uWSGI instance to serve the APS database
After=network.target

[Service]
User=arodrigues
Group=www-data
WorkingDirectory=/opt/aps_database/APS_Database
EnvironmentFile=/etc/aps/aps.env
Environment="PATH=/opt/aps_database/venv/bin"
ExecStart=/opt/aps_database/venv/bin/uwsgi --ini server.ini

[Install]
WantedBy=multi-user.target
